body {
    font-family: Ubuntu;
    color: #333;
    background-color: #EEE;
    Padding: 32px 64px;
}

table {
    background: #FFF;
    border-radius: 5px;
}

th, td {
    padding: 8px 32px;
}

tr {
    background: #EEE;
}

tr:nth-child(2n) {
    background: #DDD;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

th {
    background: #FFF;
}

button {
    border: 0;
    border-radius: 5px;
    padding: 4px 8px;
    color: white;
    cursor: pointer;
    background: #4666ff;
}

button.delete {
    background: #ff4031;
    margin: auto;
    display: block;
}

button.add {
    margin-bottom: 16px;
    padding: 8px 16px;
    font-weight: bold;
}

form {
    margin-bottom: 16px;
}

form input {
    border: 0;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: inherit;
    margin-bottom: 8px;
}

input#search {
    margin-right: 16px;
    border: 0;
    padding: 8px;
    border-radius: 5px;
}